.text-center {
  text-align: center;
}

.mt-3 {
  margin-top: 15px;
}

.mt-page {
  margin-top: 150px;
}

.h-100 {
  height: 100%;
}

.pt-2 {
  padding-top: 10px;
}

.mb-1 {
  margin-bottom: 5px;
}

.mb-2 {
  margin-bottom: 10px;
}

.mb-3 {
  margin-bottom: 15px;
}

.d-block {
  display: block;
}

.cursor-pointer:hover {
  cursor: pointer;
}

.padded {
  padding: 10px;
}

.d-none {
  display: none;
}

.d-flex {
  display: flex;
}

.justify-content-center {
  justify-content: center;
}

.align-items-center {
  align-items: center;
}

.width-200 {
  width: 200px;
}

.height-200 {
  height: 200px;
}

.img-fullsize * {
  width: auto !important;
  height: auto !important;
}

.font-huge {
  font-size: 100px;
}
