.text-center {
  text-align: center;
}

.mt-1 {
  margin-top: 5px;
}

.mt-3 {
  margin-top: 15px;
}

.mt-page {
  margin-top: 150px;
}

.h-100 {
  height: 100%;
}

.pt-2 {
  padding-top: 10px;
}

.mb-1 {
  margin-bottom: 5px;
}

.mb-2 {
  margin-bottom: 10px;
}

.mb-3 {
  margin-bottom: 15px;
}

.d-block {
  display: block;
}

.cursor-pointer:hover {
  cursor: pointer;
}

.padded {
  padding: 10px;
}

.d-none {
  display: none;
}

.d-flex {
  display: flex;
}

.justify-content-center {
  justify-content: center;
}

.align-items-center {
  align-items: center;
}

.justify-content-between {
  justify-content: space-between;
}

.text-disappear {
  white-space: nowrap !important;
  text-overflow: ellipsis !important;
  overflow: hidden !important;
}

.width-200 {
  width: 200px;
}

.height-200 {
  height: 200px;
}

.img-fullsize * {
  width: auto !important;
  height: auto !important;
}

.font-huge {
  font-size: 100px;
}

.overflow-y-scroll {
  overflow-y: scroll;
}

.custom-scroll::-webkit-scrollbar {
  width: 4px;
}

.custom-scroll::-webkit-scrollbar-track {
  background: #ddd;
}

.custom-scroll::-webkit-scrollbar-thumb {
  background: #ddd;
}

.font-normal {
  font-weight: 400;
}

.chat-top,
.chat-middle,
.chat-bottom {
  margin: 0;
  padding: 0;
}

.chat-top,
.chat-bottom {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.chat-top {
  height: 75px;
}

.chat-bottom {
  height: 65px;
}

.chat-middle {
  height: calc(100% - 75px - 65px);
}
