.text-center {
  text-align: center;
}

.mt-3 {
  margin-top: 15px;
}

.mt-page {
  margin-top: 150px;
}

.h-100 {
  height: 100%;
}

.pt-2 {
  padding-top: 10px;
}

.mb-1 {
  margin-bottom: 5px;
}

.mb-2 {
  margin-bottom: 10px;
}

.mb-3 {
  margin-bottom: 15px;
}
